{% extends 'user_base.html' %}
{% block title %}User Profile{% endblock %}
{% block content %}
<div class="mainContent">  
<div class="formHeader row">
        <h2 class="text-1 fl">Change Password</h2>
        {{ form.non_field_errors }}
        <div class="fr">
            <button type="submit" class="btnSave bg-1 text-fff text-bold fr">CHANGE PASSWORD</button>
        </div>
</div>

<form method="POST" name="contactForm" class="form">
    {% if messages %}
                             <ul class="messages">
                               {% for message in messages %}
                                  <li style="color:green;font-weight:bold;text-align:center"  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>{{ message }} </li>
                               {% endfor %}
                             </ul>
                        {% endif %}
    {% csrf_token %}
    <div class="formBody row">
        <div class="column s-6">
    {% for field in form %}
     
              <label class="inputGroup">
             <span>{{field.label_tag}}</span>
             <span>{{ field }}</span>
             </label>
              {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
              {% endfor %}
      
       {% endfor %}
        <button type="submit" class="btnSave bg-1 text-fff text-bold fr">CHANGE PASSWORD</button>
                   
                                                
    </div>
    </div>
 </form>
   
</div>

{% endblock %}
