{% extends '../base.html' %}
{% block title%}Datanetters | Data Collection {% endblock %}
{% block content %}
{% load static %}
 <!-- bradcam_area_start -->
     <div style="padding-bottom:20px;padding-top:100px" class="bradcam_area breadcam_bg overlay2">
         <h3>Data Collection</h3>
     </div>
     <!-- bradcam_area_end -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>Data Collection
                     </h2>
                    
                     <p class="excert">
                        Data collection involves getting data from different sources
                     </p>
                     <p>
                        The data sources include databases, csv, excel etc
                     </p>
                    
                  </div>
               </div>
               
               <div class="comment-form">
                  <h4>Acquire Data</h4>
                  <form method="POST" name="contactForm" enctype="multipart/form-data" class="form-contact comment_form" action="{% url 'process_upload' %}">
                    {% csrf_token %}

                     {% if messages %}
                        <ul class="messages">
                           {% for message in messages %}
                              <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}>{{ message }} </li>
                           {% endfor %}
                        </ul>
                     {% endif %}

                     <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Data Source</label><br>
                                <select id="source" name="source" class="form-control">
                                   <option value="">Select Data Source</option>
                                   <option value="csv">CSV</option>
                                   <option value="excel">Excel</option>
                                   <option value="sql">SQL</option>
                                   <option value="json">JSON</option>
                                   <option value="database">Database</option>
                                </select>
                            </div>
                        </div>

                        
                        <div class="col-6 db" style="display:none">
                           <div class="form-group">
                              <label>DB Host</label><br>
                              <input type="text" name="db_host" class="form-control">
                           </div>
                        </div>

                        <div class="col-6 db" style="display:none">
                           <div class="form-group">
                              <label>DB User</label><br>
                              <input type="text" name="db_huser" class="form-control">
                           </div>
                        </div>

                        <div class="col-6 db" style="display:none">
                           <div class="form-group">
                              <label>DB Password</label><br>
                              <input type="password" name="db_hpassword" class="form-control">
                           </div>
                        </div>

                        <div class="col-6 db" style="display:none">
                           <div class="form-group">
                              <label>DB Name</label><br>
                              <input type="text" name="db_name" class="form-control">
                           </div>
                        </div>

                        <div class="col-lg-12 db" style="display:none">
                           <div class="form-group">
                              <button type="submit" class="btn btn-primary ">Connect & Get Tables</button>
                           </div>
                        </div>

                        <div class="col-6 db" style="display:none">
                           <div class="form-group">
                              <label>Table</label><br>
                              <select id="db_table" name="db_table" class="form-control">
                                 <option value="">Select Table</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-12 db" style="display:none">
                           <div class="form-group">
                              <label>SQL Query</label><br>
                              <textarea name="sql_query" class="form-control">

                              </textarea>
                           </div>
                        </div>
                        
                        <div id="upload_div" class="col-6" style="display:none">
                           <div class="form-group">
                               <label>Upload</label><br>
                               <select id="upload_type" name="upload_type" class="form-control">
                                  <option value="">Select Upload Type</option>
                                  <option value="local">Local File</option>
                                  <option value="online">Online Link</option>
                               </select>
                           </div>
                       </div>
                       
                       <div id="file_div" class="col-6 none-db" style="display:none">
                           <div class="form-group">
                              <label>File</label><br>
                              <input type="file" name="file" class="form-control">
                           </div>
                       </div>

                       <div id="link_div" class="col-6 none-db" style="display:none">
                           <div class="form-group">
                              <label>Link</label><br>
                              <input type="text" name="link" class="form-control">
                           </div>
                       </div>

                    </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-primary ">SEND REQUEST</button>
                        </div>
                    </div>
                  </form>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Category</h4>
                     <ul class="list cat-list">
                        <li>
                           <a href="#" class="d-flex">
                              <p>Food and Nutrition</p>
                              <p></p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Education</p>
                              <p></p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Modern technology</p>
                              <p></p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Agriculture</p>
                              <p></p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Finance</p>
                              <p></p>
                           </a>
                        </li>
                        <li>
                           <a href="#" class="d-flex">
                              <p>Health Care</p>
                              <p></p>
                           </a>
                        </li>
                     </ul>
                  </aside>
                  <!--
                  <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        <li>
                           <a href="#">project</a>
                        </li>
                        <li>
                           <a href="#">love</a>
                        </li>
                        <li>
                           <a href="#">technology</a>
                        </li>
                        <li>
                           <a href="#">travel</a>
                        </li>
                        <li>
                           <a href="#">restaurant</a>
                        </li>
                        <li>
                           <a href="#">life style</a>
                        </li>
                        <li>
                           <a href="#">design</a>
                        </li>
                        <li>
                           <a href="#">illustration</a>
                        </li>
                     </ul>
                  </aside>
               -->
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

   {% endblock %}
{% block js %}
<script>
   $(document).ready(function(){

      $("#source").change(function(){
         var source = $("#source").val();
         if(source != ''){
            if(source == 'csv' || source == 'excel' || source == 'json' || source == 'sql'){
               $('#upload_div').show();
               $('.db').hide();
            }
            else if(source == 'database'){
               $('#upload_div').hide();
               $('.db').show();
               $('.none-db').hide();
            }
         }
         else{
            $('#upload_div').hide();
            $('.db').hide();
            $('.none-db').hide();
         }
      });

      $("#upload_type").change(function(){
         var upload_type = $("#upload_type").val();
         if(upload_type != ''){
            if(upload_type == 'local'){
               $('#link_div').hide();
               $('#file_div').show();
            }
            else if(upload_type == 'online'){
               $('#file_div').hide();
               $('#link_div').show();
            }
         }
         else{
            $('#link_div').hide();
            $('#file_div').hide();
         }
      });

   });
</script>
{% endblock %}